<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error">
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %p %l:%m%n"/>
        </Console>
    </appenders>
    <loggers>
        <Logger name="com.wcj.test.remote" level="debug" additivity="false">
            <appender-ref ref="console" />
        </Logger>
        <Root level="INFO">
            <appender-ref ref="console" />
        </Root>
    </loggers>
</configuration>